@import "tailwindcss";

:root {
  --foreground: #171717;

  /* typography */
  --content-font-family: "Quicksand", sans-serif;
  --title-font-family: "Quicksand", sans-serif;
  --subtitle-font-family: "Quicksand", sans-serif;
  
  --title-font-size: 60px;
  --title-line-height: 60px;

  --content-font-size: 20px;
  --content-line-height: 20px;

  --placeholder-font-size: 16px;

  --subtitle-font-size: 36px;
  --subtitle-line-height: 36px;

  --button-font-size: 16px;

  --navbar-font-size: 16px;
  --navbar-line-height: 16px;

  /* colors */
  --main-color: #7c3aed;
  --bg-color: #e5e7eb;
  --footer-bg-color: #f9fafb;
  --tag-color: #ede9fe;
}

body {
  font-family: var(--content-font-family), sans-serif;
}

